.home-main {
  flex-direction: column;
}

.home {
  position: relative;
  max-width: 1480px;
  width: 100%;
  // height: 60vh;
}
.slides {
  height: 100%;
  width: 100%;
  position: relative;
}
.home-container {
  width: 100%;
}
.home-image {
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  width: 100%;
  object-fit: contain;
  object-position: center;
  margin-bottom: -250px;
  @media (max-width:1200px) {
    margin-bottom: -150px;
  }
}

/* Slider Banner*/
.slides {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  /* height: 580px; */
}

.active {
  display: inline-block;
}
.inactive {
  display: none;
}

.slides {
  height: 100%;
  width: 100%;
  position: relative;
}

/*Paginations*/

.prev,
.next {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50px;
  width: auto;
  padding: 2rem 0.2rem;
  //margin-top: -350px;
  font-size: 40px;
  font-weight: bold;
}
.prev,
.next {
  color: rgb(71, 71, 71);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.next:hover {
  color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.4);
  /* background-color: #000; */
  /* background-color: rgba(0, 0, 0, 0.4); */
  transition: all 0.5s ease-in;
  border-radius: 0 8px 8px 0;
}
.prev:hover {
  border-radius: 8px 0 0 8px;
}

// Product section

.home-row {
  //position: absolute;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1240px) {
    grid-template-columns: repeat(3, 1fr);
  }
  column-gap: 20px;
  row-gap: 20px;
  z-index: 11;
  margin-top: -150px;
  margin-left: 25px;
  margin-right: 25px;
  //padding: 30px;
  margin: auto;
}
